---
import { render } from 'astro:content';
import ContactCTA from '@/src/components/ContactCTA.astro';
import Hero from '@/src/components/Hero.astro';
import PhotoswipeGallery from '@/src/components/PhotoswipeGallery.astro';
import Pill from '@/src/components/Pill.astro';
import { defaultLang, languages } from '@/src/i18n/ui';
import { useTranslations } from '@/src/i18n/utils';
import MainLayout from '@/src/layouts/MainLayout.astro';
import { CDN } from '@/src/utils/constants';
import { loadCollection } from '@/src/utils/loadData';

const locale = (Astro.currentLocale ?? defaultLang) as keyof typeof languages;
const t = useTranslations(locale);

// This is a dynamic route that generates a page for every Markdown file in src/content/
export async function getStaticPaths() {
	const langs = Object.keys(languages) as (keyof typeof languages)[];

	const paths = await Promise.all(
		langs.map(async (lang) => {
			const pages = await loadCollection(lang);
			return pages.map((page) => ({
				params: { slug: page.id || undefined, lang },
				props: { ...page, lang },
			}));
		}),
	);

	return paths.flat();
}

//const { slug } = Astro.params;
const page = Astro.props;
const { Content } = await render(page);
---

<MainLayout
	title={page.data.title}
	description={page.data.description}
>
	<div class='stack gap-20'>
			<header>
				<div class='wrapper stack gap-2'>
					<Hero
						title={page.data.title.split('|')[0].trim()}
						align='start'
					>
						<div class='details'>
							<div class='tags'>
								{page.data.tags.map((tag) => <Pill>{tag}</Pill>)}
							</div>
						</div>
					</Hero>
				</div>
			</header>
			<main transition:animate='slide'>
				<div class='stack gap-10 content cover wrapper'>
					{
						page.data.img && (
							<img
								src={`${CDN}/${page.data.img}`}
								alt={page.data.img_alt || ''}
								loading='eager'
								decoding='async'
							/>
						)
					}
				</div>
				<div class='row gap-10 content'>
					{!!page.data.imgs?.length && (
						<div class='column images'>
							<PhotoswipeGallery
								id='project-gallery'
								images={page.data.imgs ?? []}
								cdnBase={CDN}
							/>
						</div>
						<div class='column text content'>
							<Content/>
							<div class='git-repo'>
								<a
									href={page.data.github_url}
									target='_blank'
									data-umami-event='GitHub Click'
									>{t('projects.gitRepo')}</a>
							</div>
						</div>
					)}

					{!page.data.imgs?.length && (
						<div class='text content'>
							<Content/>
							<div class='git-repo'>
								<a
									href={page.data.github_url}
									target='_blank'
									data-umami-event='GitHub Click'
									>{t('projects.gitRepo')}</a>
							</div>
						</div>
					)}
				</div>
			</main>
		</div>
		<ContactCTA />
</MainLayout>

<style>
	header {
		padding-bottom: 2.5rem;
		border-bottom: 1px solid var(--gray-800);
	}

	:global(html) {
		scroll-behavior: smooth;
	}

	.details {
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
		gap: 1.5rem;
		justify-content: space-between;
		align-items: center;
	}

	.tags {
		display: flex;
		gap: 0.5rem;
	}

	.description {
		font-size: var(--text-lg);
		max-width: 54ch;
	}

	.content {
		max-width: 95%;
		margin-inline: auto;
	}

	.content > :global(* + *) {
		margin-top: 2rem;
	}

	.content :global(h1),
	.content :global(h2),
	.content :global(h3),
	.content :global(h4),
	.content :global(h5) {
		margin: 1.5rem 0;
	}

	.cover :global(img) {
		align-self: center;
		max-width: 75ch;
		max-height: 100ch;
		width: 100%;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-sm);
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
	}
	.text {
		word-wrap: break-word;
	}

	.content :global(blockquote) {
		font-size: var(--text-lg);
		font-family: var(--font-brand);
		font-weight: 600;
		line-height: 1.1;
		padding-inline-start: 1.5rem;
		border-inline-start: 0.25rem solid var(--accent-dark);
		color: var(--gray-0);
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content :global(table) {
		width: 100%;
		border-collapse: collapse;
		margin: 1.5rem 0;
	}

	.content :global(th),
	.content :global(td) {
		border: 1px solid var(--gray-800);
		padding: 0.5rem 1rem;
		text-align: left;
	}

	.content :global(th) {
		background: var(--gradient-subtle);
		font-weight: 600;
	}

	.content :global(tr:nth-child(even)) {
		background: var(--gradient-subtle)
	}

	.content :global(summary) {
		cursor: pointer;
		font-weight: 600;
		font-size: var(--text-3xl);
		padding: 0.5rem 0;
		list-style: none;
	}

	.content :global(summary::before){
		content: '▶';
		margin-right: 0.5rem;
		font-size: var(--text-lg);
		transition: transform 0.2s ease;
		display: inline-block;
	}

	.content :global(details[open] summary::before) {
		transform: rotate(90deg);
	}

	.content :global(summary::-webkit-details-marker) {
		display: none;
	}

	.content :global(details span) {
		scroll-margin-top: 4rem;
	}

	.git-repo {
		display: flex;
		margin-top: 3rem;
		margin-bottom: 3rem;
		justify-content: center;
	}

	.git-repo :global(a) {
		display: inline-block;
		align-self: center;
		padding: 1.5rem;
		border-radius: 1.5rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		transition: box-shadow var(--theme-transition);
	}

	.git-repo :global(a:hover),
	.git-repo :global(a:focus) {
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.column {
			float: right;
			padding: 1ch;
		}

		.text {
			width: 65%;
		}

		/* Clear floats after the columns */
		.row:after {
			content: '';
			display: table;
			clear: both;
		}

		.images {
			width: 35%;
			display: flex;
			flex-direction: column;
		}
	}
</style>