---
import Layout from '@/src/layouts/Layout.astro';

import Hero from '@/src/components/Hero.astro';
import Pill from '@/src/components/Pill.astro';
import ContactCTA from '@/src/components/ContactCTA.astro';
import { getLangFromUrl, useTranslations } from '@/src/i18n/utils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<Layout
	title={t('about.title') + ' | Leandro Pata'}
	description={t('about.description')}
>
	<div class='stack gap-20'>
		<main
			class='wrapper about'
			transition:animate='fade'
		>
			<Hero
				title={t('about.title')}
				tagline={t('about.tagline')}
			/>

			<section>
				<h2 class='section-title'>{t('about.backgroundTitle')}</h2>
				<div class='content'>
					<p>
						{t('about.backgroundContent')}
					</p>
				</div>
			</section>

			<section>
				<h2 class='section-title'>{t('about.educationTitle')}</h2>
				<div class='content'>
					{
						t('about.educationContent').map((education) => (
							<div class='education'>
								<h5 class='content-title'>{education[0]}</h5>
								<h5 class='content-date'>{education[1]}</h5>
								<p>{education[2]}</p>
							</div>
						))
					}
				</div>
			</section>

			<section>
				<h2 class='section-title'>{t('about.workTitle')}</h2>
				<div class='content'>
					{
						t('about.workContent').map((work) => (
							<div class='work'>
								<h5 class='content-title'>{work[0]}</h5>
								<h5 class='content-date'>{work[1]}</h5>
								<p>{work[2]}</p>
							</div>
						))
					}
				</div>
			</section>

			<section>
				<h2 class='section-title'>{t('about.skillsTitle')}</h2>
				<div class='content skills'>
					{t('about.skillsContent').map((skill) => <Pill>{skill}</Pill>)}
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</Layout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content-title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content-date {
		font-size: var(--text-lg);
		color: var(--gray-0);
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.education,
	.work {
		margin-bottom: 2rem;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
