---
import ContactCTA from '@/src/components/ContactCTA.astro';

import Hero from '@/src/components/Hero.astro';
import Pill from '@/src/components/Pill.astro';
import { getLangFromUrl, useTranslations } from '@/src/i18n/utils';
import MainLayout from '@/src/layouts/MainLayout.astro';
import { CDN } from '@/src/utils/constants';

const locale = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(locale);
---

<MainLayout
	title={t('about.title') + ' | Leandro Pata'}
	description={t('about.description')}
>
	<div class='stack gap-20'>
		<main
			class='wrapper about'
			transition:animate='fade'
		>
			<Hero
				title={t('about.title')}
				tagline={t('about.tagline')}
			/>

			<section>
				<div class='content'>
					<p>
						{t('about.backgroundContent')}
					</p>
				</div>
			</section>

			<hr class='divider' />

			<section>
				<h2 class='section-title'>{t('about.educationTitle')}</h2>
				<div class='content'>
					{
						t('about.educationContent').map((education) => (
							<div class='education'>
								<h5 class='content-title'>{education[0]}</h5>
								<h5 class='content-date'>{education[1]}</h5>
								<p>{education[2]}</p>
							</div>
						))
					}
				</div>
			</section>

			<hr class='divider' />

			<section>
				<h2 class='section-title'>{t('about.workTitle')}</h2>
				<div class='content'>
					{
						t('about.workContent').map((work) => (
							<div class='work'>
								<h5 class='content-title'>{work[0]}</h5>
								<h5 class='content-date'>{work[1]}</h5>
								<p>{work[2]}</p>
							</div>
						))
					}
				</div>
			</section>

			<hr class='divider' />

			<section>
				<h2 class='section-title'>{t('about.skillsTitle')}</h2>
				<div class='content skills'>
					{t('about.skillsContent').map((skill) => <Pill>{skill}</Pill>)}
				</div>
			</section>

			<hr class='divider' />

			<section>
				<h2 class='section-title'>{t('about.certificateTitle')}</h2>
				<div class='content'>
					{
						t('about.certificateContent').map((certificate) => (
							<div class='certificate'>
								<h5>{certificate}</h5>
							</div>
						))
					}
				</div>
			</section>
		</main>

		<div class='cv-download'>
			<a href={`${CDN}/assets/cv/CV_LeandroPata_EN.pdf`}>{t('about.cv')}</a>
		</div>
		<ContactCTA />
	</div>
</MainLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}

	hr.divider {
		grid-column-start: 1;
		grid-column-end: 4;
		border-top: 3px solid var(--gray-50);
		border-radius: 5px;
	}

	.cv-download {
		display: flex;
		justify-content: center;
	}

	.cv-download :global(a) {
		display: inline-block;
		align-self: center;
		padding: 1.5rem;
		border-radius: 1.5rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-size: var(--text-xl);
		transition: box-shadow var(--theme-transition);
	}

	.cv-download :global(a:hover),
	.cv-download :global(a:focus) {
		box-shadow: var(--shadow-md);
	}

	.content-title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content-date {
		font-size: var(--text-lg);
		color: var(--gray-0);
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.education,
	.work,
	.certificate {
		margin-bottom: 2rem;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
